.exe {
  padding-top: 20px;
  height: 50px;
  width: 100px;
  margin: 0;
  text-align: center;
  cursor: url("../assets/select.cur"), auto;
}
.exe p {
  margin: 0;
  color: #edf6f6;
}

.exe::after {
  padding-top: 20px;
}

.icons {
  height: 30px;
  width: auto;
}

.Application {
  top: -30px;
  position: absolute;
}
