.exe {
    padding-top: 20px;
    height: 50px;
    width: 100px;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  .exe p {
    margin: 0;
    padding-top:3px;
    color: #EDF6F6;
  }
  
  .exe::after{
      padding-top: 20px;
  }
  
  .icons{
    height: 30px;
    width: auto;
  }
  
  .Application{
    position: absolute;
  }
