.footer {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c3c3c3;
  width: 100%;
  height: 30px;
  margin: 0;
  border-top: 2px #ededed solid;
}

.margin {
  margin: 0;
}
.title {
  margin: 0;
  top: 50%;
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 3px;
}
.start {
  border-top: #ffffff 2px solid;
  border-left: #ffffff 2px solid;
  border-bottom: #000000 2px solid;
  border-right: #000000 2px solid;
  margin-left: 5px;
  margin-right: 5px;

  color: #000000;
}

a:link {
  text-decoration: none;
  color: #000000;
}
a:visited {
  color: #000000;
}

.footer img {
  height: 20px;
}
